@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-solid-rgb: 0,0,0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-solid-rgb-rgb));
}

.card-back {
  background-image: url('/icons/heart-regular.svg');
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Add this inside your global.css or in a <style jsx> inside your component */
.popup-enter {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.popup-enter-active {
  opacity: 1;
}

.popup-exit {
  opacity: 1;
}

.popup-exit-active {
  opacity: 0;
  transition: opacity 2.5s ease-in;
}